.header {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
}
.other-header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #563a28;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
    align-items: center;

    color: #fffafa;
  }
}
.header-nav a {
  transition: color 0.3s linear;
  &:hover,
  &:focus {
    color: #a06819;
  }
}
.header-select {
  border: none;
  padding: 10px;
  outline: none;

  background-color: transparent;
  color: #fffafa;
}
.header-select option {
  background-color: #f5f5f5;
  color: #2f4f4f;
}
.active {
  color: #7a4c0b;
}