.our-services {
  padding: 40px 20px;
  background-color: #f4f4f4;
}

.services-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.services-steps {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.services-subtitle {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.services-steps li {
  width: 100%;
  max-width: 148px;
  font-size: 1.1rem;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
